/* [project]/styles/BlogList.module.css [client] (css) */
.BlogList-module__YLJmxG__viewSwitch {
  justify-content: flex-end;
  gap: .5rem;
  margin-bottom: 1rem;
  display: flex;
}

.BlogList-module__YLJmxG__iconButton {
  cursor: pointer;
  opacity: .7;
  border-radius: 6px;
  width: 22px;
  height: 22px;
  padding: 4px;
  transition: all .2s;
}

.BlogList-module__YLJmxG__iconButton:hover {
  opacity: 1;
  background-color: var(--color-gray-1);
  transform: scale(1.1);
}

.BlogList-module__YLJmxG__cardGrid {
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
  display: grid;
}

@media (max-width: 768px) {
  .BlogList-module__YLJmxG__cardGrid {
    grid-template-columns: repeat(2, 1fr);
  }
}

.BlogList-module__YLJmxG__cardItem {
  border: 1px solid var(--color-gray-4);
  cursor: pointer;
  border-radius: 8px;
  flex-direction: column;
  display: flex;
  overflow: hidden;
}

.BlogList-module__YLJmxG__cardItem img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.BlogList-module__YLJmxG__cardContent {
  padding: .5rem 1rem;
}

.BlogList-module__YLJmxG__cardTitle {
  color: var(--color-gray-8);
  text-overflow: ellipsis;
  height: 2.5rem;
  margin: 0 0 .5rem;
  font-size: 1rem;
  font-weight: 400;
  overflow: hidden;
}

.BlogList-module__YLJmxG__cardDate {
  color: var(--color-gray-6);
  margin: 0;
  font-size: .9rem;
}

.BlogList-module__YLJmxG__listGrid {
  flex-direction: column;
  gap: 0;
  display: flex;
}

.BlogList-module__YLJmxG__listItem {
  border-bottom: .5px solid var(--color-gray-2);
  cursor: pointer;
  border-bottom: 1px solid var(--color-gray-3);
  grid-template-columns: 1fr auto;
  justify-content: space-between;
  align-items: center;
  padding: .8rem 4px .8rem 0;
  display: grid;
}

.BlogList-module__YLJmxG__listTitle {
  color: var(--color-gray-8);
  font-weight: 400;
}

.BlogList-module__YLJmxG__listDate {
  color: var(--color-gray-400);
  font-size: .9rem;
}

.BlogList-module__YLJmxG__pageNumbers {
  flex-wrap: wrap;
  justify-content: center;
  gap: .5rem;
  margin-top: 1.5rem;
  padding: 0;
  list-style: none;
  display: flex;
}

.BlogList-module__YLJmxG__pageNumber {
  border: 1px solid var(--color-gray-3);
  background-color: var(--color-gray-0);
  cursor: pointer;
  box-sizing: border-box;
  border-radius: 20px;
  justify-content: center;
  align-items: center;
  min-height: 2rem;
  padding: .4rem .7rem;
  font-size: .8rem;
  transition: all .2s;
  display: flex;
}

.BlogList-module__YLJmxG__pageNumber:hover:not(:disabled) {
  background-color: var(--color-gray-2);
}

.BlogList-module__YLJmxG__pageNumber:disabled {
  cursor: not-allowed;
  opacity: .5;
}

.BlogList-module__YLJmxG__current {
  background-color: var(--color-gray-1);
  cursor: default;
  font-weight: 500;
}

.BlogList-module__YLJmxG__dots {
  cursor: default;
  background: none;
  border: none;
}

.BlogList-module__YLJmxG__prev, .BlogList-module__YLJmxG__next {
  color: var(--color-gray-3);
  font-weight: 400;
}

/* [project]/styles/Header.module.css [client] (css) */
.Header-module__vcZAwq__header {
  margin-top: 1rem;
  margin-bottom: 2rem;
  position: relative;
}

.Header-module__vcZAwq__topRow {
  justify-content: flex-end;
  align-items: center;
  gap: .5rem;
  display: flex;
}

.Header-module__vcZAwq__menuButton {
  cursor: pointer;
  background: none;
  border: none;
  padding: 0;
  font-size: 2rem;
}

.Header-module__vcZAwq__menu {
  background: var(--color-gray-1);
  z-index: 1000;
  text-align: right;
  color: var(--color-text-primary);
  -webkit-tap-highlight-color: var(--color-transparent);
  -webkit-user-select: none;
  user-select: none;
  -webkit-touch-callout: none;
  border-radius: 8px;
  outline: none;
  flex-direction: column;
  gap: .5rem;
  margin-top: .5rem;
  padding-top: .75rem;
  padding-bottom: .75rem;
  padding-left: 1rem;
  display: flex;
  position: absolute;
  top: 100%;
  right: 0;
}

.Header-module__vcZAwq__menuItem {
  text-align: right;
  color: var(--color-gray-7);
  cursor: pointer;
  -webkit-tap-highlight-color: var(--color-transparent);
  -webkit-user-select: none;
  user-select: none;
  -webkit-touch-callout: none;
  background: none;
  border: none;
  outline: none;
  padding: .4rem 0;
  font-size: 1rem;
  transition: background .2s, color .2s;
}

.Header-module__vcZAwq__menuItem:focus, .Header-module__vcZAwq__menuItem:active {
  color: var(--color-gray-9);
  background: none;
}

.Header-module__vcZAwq__menuItem:hover {
  background-color: var(--color-gray-3);
  color: var(--color-gray-7);
}

.Header-module__vcZAwq__selected {
  font-weight: 600;
  text-decoration: underline;
}

/*# sourceMappingURL=styles_c21e00d6._.css.map*/