/* [project]/styles/Header.module.css [client] (css) */
.Header-module__vcZAwq__header {
  margin-top: 1rem;
  margin-bottom: 2rem;
  position: relative;
}

.Header-module__vcZAwq__topRow {
  justify-content: flex-end;
  align-items: center;
  gap: .5rem;
  display: flex;
}

.Header-module__vcZAwq__menuButton {
  cursor: pointer;
  background: none;
  border: none;
  padding: 0;
  font-size: 2rem;
}

.Header-module__vcZAwq__menu {
  background: var(--color-gray-1);
  z-index: 1000;
  text-align: right;
  -webkit-tap-highlight-color: var(--color-transparent);
  -webkit-user-select: none;
  user-select: none;
  -webkit-touch-callout: none;
  border-radius: 8px;
  outline: none;
  flex-direction: column;
  gap: .5rem;
  margin-top: .5rem;
  padding-top: .75rem;
  padding-bottom: .75rem;
  padding-left: 1rem;
  display: flex;
  position: absolute;
  top: 100%;
  right: 0;
}

.Header-module__vcZAwq__menuItem {
  text-align: right;
  color: var(--color-gray-7);
  cursor: pointer;
  -webkit-tap-highlight-color: var(--color-transparent);
  -webkit-user-select: none;
  user-select: none;
  -webkit-touch-callout: none;
  background: none;
  border: none;
  outline: none;
  padding: .4rem 0;
  font-size: 1rem;
  transition: background .2s, color .2s;
}

.Header-module__vcZAwq__menuItem:focus, .Header-module__vcZAwq__menuItem:active {
  color: var(--color-gray-9);
  background: none;
}

.Header-module__vcZAwq__menuItem:hover {
  background-color: var(--color-gray-3);
  color: var(--color-gray-7);
}

.Header-module__vcZAwq__selected {
  font-weight: 600;
  text-decoration: underline;
}

/* [project]/styles/MdContent.module.css [client] (css) */
.MdContent-module__jlgNAa__mdContent {
  white-space: pre-line;
  color: var(--color-gray-7);
  font-size: .9rem;
  line-height: 1.4;
}

.MdContent-module__jlgNAa__mdContent p {
  margin: 0 0;
  line-height: 1.4;
}

.MdContent-module__jlgNAa__mdContent h1 {
  color: var(--color-gray-6);
  margin: 1rem 0 .5rem;
  font-size: 1.6rem;
}

.MdContent-module__jlgNAa__mdContent h2 {
  color: var(--color-gray-6);
  margin: .8rem 0 .4rem;
  font-size: 1.5rem;
}

.MdContent-module__jlgNAa__mdContent h3 {
  color: var(--color-gray-6);
  margin: .3rem 0 0;
  font-size: 1.4rem;
}

.MdContent-module__jlgNAa__mdContent h4 {
  color: var(--color-gray-6);
  margin: .3rem 0 0;
  font-size: 1.3rem;
}

.MdContent-module__jlgNAa__mdContent h5 {
  color: var(--color-gray-6);
  margin: .6rem 0 .3rem;
  font-size: 1.2rem;
}

.MdContent-module__jlgNAa__mdContent h6 {
  color: var(--color-gray-6);
  margin: .6rem 0 .3rem;
  font-size: 1rem;
}

.MdContent-module__jlgNAa__mdContent h1 + p, .MdContent-module__jlgNAa__mdContent h2 + p, .MdContent-module__jlgNAa__mdContent h3 + p, .MdContent-module__jlgNAa__mdContent h4 + p, .MdContent-module__jlgNAa__mdContent h5 + p, .MdContent-module__jlgNAa__mdContent h6 + p {
  margin-top: 0;
}

.MdContent-module__jlgNAa__mdContent ul, .MdContent-module__jlgNAa__mdContent ol {
  margin: 0;
  padding-left: 8px;
}

.MdContent-module__jlgNAa__mdContent li {
  margin: 0;
  font-size: .9rem;
  line-height: 1.2;
}

.MdContent-module__jlgNAa__mdContent li > p {
  margin: 0;
}

.MdContent-module__jlgNAa__mdContent br {
  height: 0;
  line-height: 0;
  display: none;
}

.MdContent-module__jlgNAa__mdContent p + ul, .MdContent-module__jlgNAa__mdContent p + ol, .MdContent-module__jlgNAa__mdContent ul + p, .MdContent-module__jlgNAa__mdContent p + p, .MdContent-module__jlgNAa__mdContent ol + p {
  margin-top: 0;
}

.MdContent-module__jlgNAa__mdContent a {
  text-decoration: underline;
}

.MdContent-module__jlgNAa__mdContent a:hover {
  opacity: .8;
}

.MdContent-module__jlgNAa__mdContent pre {
  background-color: var(--color-code-block-bg);
  border-radius: 8px;
  padding: .75rem;
  overflow-x: auto;
}

.MdContent-module__jlgNAa__mdContent code {
  background-color: var(--color-gray-3);
  color: var(--color-gray-7);
  border-radius: 4px;
  margin: 0 1px;
  padding: 0 3px;
  font-family: monospace;
  font-size: .8rem;
}

.MdContent-module__jlgNAa__mdContent img {
  border-radius: 8px;
  max-width: 100%;
  margin: .5rem 0;
}

/* [project]/styles/BlogList.module.css [client] (css) */
.BlogList-module__YLJmxG__viewSwitch {
  justify-content: flex-end;
  gap: .5rem;
  margin-bottom: 1rem;
  display: flex;
}

.BlogList-module__YLJmxG__iconButton {
  cursor: pointer;
  opacity: .7;
  border-radius: 6px;
  width: 22px;
  height: 22px;
  padding: 4px;
  transition: all .2s;
}

.BlogList-module__YLJmxG__iconButton:hover {
  opacity: 1;
  background-color: var(--color-gray-1);
  transform: scale(1.1);
}

.BlogList-module__YLJmxG__cardGrid {
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
  display: grid;
}

@media (max-width: 768px) {
  .BlogList-module__YLJmxG__cardGrid {
    grid-template-columns: repeat(2, 1fr);
  }
}

.BlogList-module__YLJmxG__cardItem {
  border: 1px solid var(--color-gray-4);
  cursor: pointer;
  border-radius: 8px;
  flex-direction: column;
  display: flex;
  overflow: hidden;
}

.BlogList-module__YLJmxG__cardImage {
  object-fit: cover;
  width: 100%;
  height: auto;
  display: block;
}

.BlogList-module__YLJmxG__cardContent {
  padding: .5rem 1rem;
}

.BlogList-module__YLJmxG__cardTitle {
  color: var(--color-gray-8);
  text-overflow: ellipsis;
  height: 2.5rem;
  margin: 0 0 .5rem;
  font-size: 1rem;
  font-weight: 400;
  overflow: hidden;
}

.BlogList-module__YLJmxG__cardDate {
  color: var(--color-gray-6);
  margin: 0;
  font-size: .9rem;
}

.BlogList-module__YLJmxG__coverWrapper {
  margin-bottom: 1rem;
}

.BlogList-module__YLJmxG__coverBox {
  aspect-ratio: 1;
  border-radius: 16px;
  width: 30%;
  position: relative;
  overflow: hidden;
}

.BlogList-module__YLJmxG__coverImage {
  object-fit: cover;
  border-radius: inherit;
  width: 100%;
  height: 100%;
  display: block;
}

.BlogList-module__YLJmxG__listGrid {
  flex-direction: column;
  gap: 0;
  display: flex;
}

.BlogList-module__YLJmxG__listItem {
  border-bottom: .5px solid var(--color-gray-2);
  cursor: pointer;
  border-bottom: 1px solid var(--color-gray-3);
  grid-template-columns: 1fr auto;
  justify-content: space-between;
  align-items: center;
  padding: .8rem 4px .8rem 0;
  display: grid;
}

.BlogList-module__YLJmxG__listTitle {
  color: var(--color-gray-8);
  font-weight: 400;
}

.BlogList-module__YLJmxG__listDate {
  color: var(--color-gray-400);
  font-size: .9rem;
}

.BlogList-module__YLJmxG__link {
  color: inherit;
  text-decoration: none;
}

/*# sourceMappingURL=styles_cb9cd25d._.css.map*/