/* [project]/styles/MdContent.module.css [client] (css) */
.MdContent-module__jlgNAa__mdContent {
  white-space: normal;
  color: var(--color-gray-7);
  font-size: .9rem;
  line-height: 1;
}

.MdContent-module__jlgNAa__mdContent p {
  margin: 0 0 10px;
  line-height: 1.4;
}

.MdContent-module__jlgNAa__mdContent p + p {
  margin-top: 0;
}

.MdContent-module__jlgNAa__mdContent h1 {
  color: var(--color-gray-6);
  margin: 0;
  padding: 1rem 0;
  font-size: 1.35rem;
}

.MdContent-module__jlgNAa__mdContent h2 {
  color: var(--color-gray-6);
  margin: 0;
  padding: 1rem 0;
  font-size: 1.28rem;
}

.MdContent-module__jlgNAa__mdContent h3 {
  color: var(--color-gray-6);
  margin: 0;
  padding: 1rem 0;
  font-size: 1.2rem;
}

.MdContent-module__jlgNAa__mdContent h4 {
  color: var(--color-gray-6);
  margin: 0;
  padding: 1rem 0;
  font-size: 1.12rem;
}

.MdContent-module__jlgNAa__mdContent h5 {
  color: var(--color-gray-6);
  margin: 0;
  padding: 1rem 0;
  font-size: 1.06rem;
}

.MdContent-module__jlgNAa__mdContent h6 {
  color: var(--color-gray-6);
  margin: 0;
  padding: 1rem 0;
  font-size: 1rem;
}

.MdContent-module__jlgNAa__mdContent h1 + p, .MdContent-module__jlgNAa__mdContent h2 + p, .MdContent-module__jlgNAa__mdContent h3 + p, .MdContent-module__jlgNAa__mdContent h4 + p, .MdContent-module__jlgNAa__mdContent h5 + p, .MdContent-module__jlgNAa__mdContent h6 + p {
  margin-top: 0;
}

.MdContent-module__jlgNAa__mdContent ul, .MdContent-module__jlgNAa__mdContent ol {
  margin: 0 0 10px;
  padding-left: 1.2rem;
  list-style-position: outside;
}

.MdContent-module__jlgNAa__mdContent ul ul, .MdContent-module__jlgNAa__mdContent ul ol, .MdContent-module__jlgNAa__mdContent ol ul, .MdContent-module__jlgNAa__mdContent ol ol {
  padding-left: 1rem;
}

.MdContent-module__jlgNAa__mdContent li {
  margin: 0 0 10px;
  font-size: .9rem;
  line-height: 1.4;
}

.MdContent-module__jlgNAa__mdContent ul > li:last-child, .MdContent-module__jlgNAa__mdContent ol > li:last-child {
  margin-bottom: 0;
}

.MdContent-module__jlgNAa__mdContent li > p {
  margin: 0;
}

.MdContent-module__jlgNAa__mdContent li > ul, .MdContent-module__jlgNAa__mdContent li > ol {
  margin-top: 10px;
}

:is(.MdContent-module__jlgNAa__mdContent li:has( > ul), .MdContent-module__jlgNAa__mdContent li:has( > ol)) {
  margin-bottom: 0;
}

.MdContent-module__jlgNAa__mdContent p + ul, .MdContent-module__jlgNAa__mdContent p + ol, .MdContent-module__jlgNAa__mdContent ul + p, .MdContent-module__jlgNAa__mdContent ol + p {
  margin-top: 0;
}

.MdContent-module__jlgNAa__mdContent a {
  text-decoration: underline;
}

.MdContent-module__jlgNAa__mdContent a:hover {
  opacity: .8;
}

.MdContent-module__jlgNAa__mdContent mark {
  background-color: var(--color-gray-4);
  color: inherit;
  border-radius: 4px;
  padding: 0 .2em;
  font-weight: 600;
}

.MdContent-module__jlgNAa__mdContent blockquote {
  color: var(--color-gray-6);
  background-color: var(--color-gray-1);
  margin: 0 0 10px;
  padding-left: 1.2rem;
  position: relative;
}

.MdContent-module__jlgNAa__mdContent blockquote:before {
  content: "";
  background-color: var(--color-gray-4);
  width: 3px;
  position: absolute;
  top: 0;
  bottom: 0;
  left: .3rem;
}

.MdContent-module__jlgNAa__mdContent blockquote p {
  margin: 0;
}

.MdContent-module__jlgNAa__mdContent .MdContent-module__jlgNAa__codeBlock {
  margin: 0 0 10px;
  position: relative;
}

.MdContent-module__jlgNAa__mdContent .MdContent-module__jlgNAa__codeLang {
  letter-spacing: .06em;
  color: var(--color-gray-6);
  z-index: 1;
  margin: 0;
  font-size: .75rem;
  font-weight: 500;
  position: absolute;
  top: 8px;
  right: 10px;
}

.MdContent-module__jlgNAa__mdContent .MdContent-module__jlgNAa__codePre {
  background-color: var(--color-gray-3);
  border-radius: 6px;
  padding: 28px 12px 12px;
  line-height: 1.4;
  overflow-x: auto;
}

.MdContent-module__jlgNAa__mdContent pre {
  background-color: #0000;
  margin: 0;
  padding: 0;
}

.MdContent-module__jlgNAa__mdContent code {
  background-color: var(--color-gray-3);
  color: var(--color-gray-7);
  border-radius: 0;
  margin: 0;
  padding: 0;
  font-family: monospace;
  font-size: .9rem;
}

.MdContent-module__jlgNAa__mdContent pre code {
  color: inherit;
  background-color: #0000;
  padding: 0;
  display: block;
}

.MdContent-module__jlgNAa__mdContent img {
  border-radius: 0;
  max-width: 100%;
  margin: 0;
}

/*# sourceMappingURL=styles_MdContent_module_css_65f1660e._.single.css.map*/