/* styles/CopyRight.module.css */
.copyright {
  text-align: center;
  font-size: 0.9rem;
  color: var(--color-text-secondary);
  margin: 2rem 0;
}

.withLove {
  margin: 0 0.3rem; /* Emoji 和文字间距 */
}

.author {
  font-weight: normal;
}
