/* /styles/globals.css */

html,
body {
  font-family:
    Helvetica,
    Apple Color Emoji,
    Segoe UI Emoji,
    NotoColorEmoji,
    Noto Color Emoji,
    Segoe UI Symbol,
    Android Emoji,
    EmojiSymbols,
    -apple-system,
    BlinkMacSystemFont,
    Segoe UI,
    Roboto,
    Helvetica Neue,
    Noto Sans,
    sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

.container {
  /* width: 60%; */
  margin: 0 auto; /* 居中 */
  max-width: 700px; /* 可选，防止屏幕太宽 */
  /* min-width: 300px; 可选，防止太窄 */
  padding: 0 1rem; /* 两侧留白 */
}
