/* components/Header.module.css */

.header {
  padding: 1rem 0;
  display: flex;
  justify-content: flex-end; /* 右对齐 */
  align-items: center; /* 垂直居中 */
  gap: 1rem; /* 可选：按钮间距 */
}

.navButtons {
  display: flex;
  gap: 10px; /* 按钮间距 */
}

.navButton {
  font-weight: 500;
  letter-spacing: 0.05em;
  cursor: pointer;
  transition: all 0.15s;
  position: relative;
  padding: 0.25rem 1rem;
  min-height: 1.75rem;
  min-width: 1.75rem;
  border: 1px solid var(--color-gray-4); /* 按钮边框 */
  background-color: var(--color-gray-2); /* 按钮底色 */
  border-radius: 15px; /* 圆角 */
  display: flex;
  align-items: center;
  justify-content: center;

  color: var(--color-gray-7); /* 文字颜色 */
  -webkit-tap-highlight-color: transparent; /* 去掉移动端点击蓝色高亮 */
}

/* 新增选中状态 */
.navButton.selected {
  background-color: var(--color-gray-4); /* 选中按钮底色 */
  color: var(--color-gray-9); /* 文字颜色可加深或者变亮 */
  /* border-color: var(--color-gray-6); 边框加深 */
  /*box-shadow: 0 0 0 2px var(--color-gray-4);  可选：轻微高亮边框 */
}

.navButton:hover {
  background-color: var(--color-gray-3);
}

.navButton:focus {
  outline: none; /* 去掉聚焦时的蓝色轮廓 */
}

.navButton:active {
  transform: scale(0.985) translateY(0.5px);
  /* background-color: var(--color-gray-2); */
}

.navText {
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 1rem;
}

.myHeaderOverride {
  justify-content: center;
}
