/* styles/Layout.module.css */
.container {
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* 高度占满整个窗口 */
}

.main {
  flex: 1; /* 占据剩余空间，保证 footer 在底部 */
}

/* CopyRight 自己的样式可以保持原来的 MdContent.module.css 或 CopyRight.module.css */
