/* MdContent.module.css */

/* Markdown 容器整体 */
.mdContent {
  line-height: 1;
  white-space: pre-line; /* 支持 \n 换行 */
  font-size: 0.9rem;
  color: var(--color-gray-7);
}

/* 段落 */
.mdContent p {
  margin: 0rem 0;
  line-height: 1; /* 同一段里面回车换行导致的行距 */
}

.mdContent p + p {
  margin-top: 1.4rem; /* 模拟空行 */
}

/* 标题 */
.mdContent h1 {
  font-size: 1.6rem;
  margin: 1rem 0 0.5rem;
  color: var(--color-gray-6);
}
.mdContent h2 {
  font-size: 1.5rem;
  margin: 0.8rem 0 0.4rem;
  color: var(--color-gray-6);
}
.mdContent h3 {
  font-size: 1.4rem;
  margin: 0.6rem 0 0.3rem;
  color: var(--color-gray-6);
}
.mdContent h4 {
  font-size: 1.3rem;
  margin: 1.5rem 0 0 0;
  color: var(--color-gray-6);
}
.mdContent h5 {
  font-size: 2rem;
  margin: 0.6rem 0 0.3rem;
  color: var(--color-gray-6);
}
.mdContent h6 {
  font-size: 1rem;
  margin: 0.6rem 0 0.3rem;
  color: var(--color-gray-6);
}
.mdContent h7 {
  font-size: 1rem;
  margin: 0.6rem 0 0.3rem;
  color: var(--color-gray-6);
}

/* 列表 */
.mdContent ul,
.mdContent ol {
  padding-left: 1.5rem;
  margin: 0.5rem 0;
}

/* 链接 */
.mdContent a {
  /* color: var(--color-primary); */
  text-decoration: underline;
}
.mdContent a:hover {
  opacity: 0.8;
}

/* 代码块 */
.mdContent pre {
  background-color: var(--color-code-block-bg);
  padding: 0.75rem;
  border-radius: 8px;
  overflow-x: auto;
}

.mdContent code {
  background-color: var(--color-gray-3);
  color: var(--color-gray-7);
  padding: 0rem 3px;
  margin: 0 1px;
  border-radius: 4px;
  font-family: monospace;
  font-size: 0.8rem;
}

/* 图片 */
.mdContent img {
  max-width: 100%;
  border-radius: 8px;
  margin: 0.5rem 0;
}
