/* MdContent.module.css */

/* Markdown 容器整体 */
.mdContent {
  line-height: 1.4;
  white-space: pre-line; /* 按源码换行渲染 */
  font-size: 0.9rem;
  color: var(--color-gray-7);
}

/* 段落 */
.mdContent p {
  margin: 0rem 0;
  line-height: 1.4; /* 同一段内自动换行的行距 */
}

/* 标题 */
.mdContent h1 {
  font-size: 1.6rem;
  margin: 1rem 0 0.5rem;
  color: var(--color-gray-6);
}
.mdContent h2 {
  font-size: 1.5rem;
  margin: 0.8rem 0 0.4rem;
  color: var(--color-gray-6);
}
.mdContent h3 {
  font-size: 1.4rem;
  margin: 0.3rem 0 0 0;
  color: var(--color-gray-6);
}
.mdContent h4 {
  font-size: 1.3rem;
  margin: 0.3rem 0 0 0;
  color: var(--color-gray-6);
}
.mdContent h5 {
  font-size: 1.2rem;
  margin: 0.6rem 0 0.3rem;
  color: var(--color-gray-6);
}
.mdContent h6 {
  font-size: 1rem;
  margin: 0.6rem 0 0.3rem;
  color: var(--color-gray-6);
}

/* 标题后紧跟段落的间距 */
.mdContent h1 + p,
.mdContent h2 + p,
.mdContent h3 + p,
.mdContent h4 + p,
.mdContent h5 + p,
.mdContent h6 + p {
  margin-top: 0rem;
}
/* 列表 */
.mdContent ul,
.mdContent ol {
  padding-left: 8px;
  margin: 0;
}

.mdContent li {
  font-size: 0.9rem;
  line-height: 1.2;
  margin: 0;
}

.mdContent li > p {
  margin: 0;
}

.mdContent br {
  display: none;
  line-height: 0;
  height: 0;
}

/* 段落与列表之间的间距 */
.mdContent p + ul,
.mdContent p + ol,
.mdContent ul + p,
.mdContent p + p,
.mdContent ol + p {
  margin-top: 0rem;
}

/* 链接 */
.mdContent a {
  /* color: var(--color-primary); */
  text-decoration: underline;
}
.mdContent a:hover {
  opacity: 0.8;
}

/* 代码块 */
.mdContent pre {
  background-color: var(--color-code-block-bg);
  padding: 0.75rem;
  border-radius: 8px;
  overflow-x: auto;
}

.mdContent code {
  background-color: var(--color-gray-3);
  color: var(--color-gray-7);
  padding: 0rem 3px;
  margin: 0 1px;
  border-radius: 4px;
  font-family: monospace;
  font-size: 0.8rem;
}

/* 图片 */
.mdContent img {
  max-width: 100%;
  border-radius: 8px;
  margin: 0.5rem 0;
}
