.toggle {
  text-align: center;
  margin-bottom: 1rem;
}
.toggle button {
  margin: 0 0.5rem;
  padding: 0.3rem 0.6rem;
  cursor: pointer;
}
.cardGrid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 1rem;
}
.listGrid {
  display: flex;
  flex-direction: column;
}

/* /styles/PostList.module.css */
.viewSwitch {
  display: flex;
  gap: 10px;
  margin-bottom: 1rem;
}

.iconButton {
  width: 24px;
  height: 24px;
  cursor: pointer;
  border-radius: 6px;
  padding: 4px;
  transition:
    background-color 0.2s,
    transform 0.2s;
}

.iconButton:hover {
  background-color: #f0f0f0; /* hover 浅灰色 */
  transform: scale(1.05);
}
