.card {
  border: 1px solid var(--color-gray-100);
  border-radius: 8px;
  padding: 1rem;
  margin-bottom: 1rem;
}
.date {
  font-size: 0.8rem;
  color: var(--color-gray-300);
}
.title {
  margin: 0.5rem 0;
}
