/* =========================
   状态列表容器
   ========================= */
.statusList {
  display: grid;
  /* gap: 0rem; */
  /* max-width: 700px; */
  /* margin: 0rem; */
  width: 100%;
}

/* =========================
   单条状态卡片
   ========================= */
.statusCard {
  padding: 1rem 2rem;
  border: 1px solid var(--color-gray-1); /* 卡片边框颜色 */
  border-radius: 20px;
  background: #fafafa;
  margin: 10px 0 0 0;
}
.statusCard p {
  margin: 0 0 0 0;
  font-size: 0.9rem;
  line-height: 1.5;
  color: var(--color-gray-7); /* 内容文字颜色 */
  font-weight: 550;
}

.statusCard small {
  font-size: 0.75rem;
  color: var(--color-gray-5); /* 日期文字颜色 */
}

/* =========================
   分页容器
   ========================= */
.pageNumbers {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
  justify-content: center;
  margin-top: 1.5rem;
  list-style: none;
  padding: 0;
}

/* =========================
   单个页码/按钮
   ========================= */
.pageNumber {
  font-size: 0.8rem;
  padding: 0.4rem 0.7rem;
  border: 1px solid var(--color-gray-3);
  border-radius: 20px;
  background-color: var(--color-gray-0);
  cursor: pointer;
  transition: all 0.2s;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 2rem;
  box-sizing: border-box;
}

.pageNumber:hover:not(:disabled) {
  background-color: var(--color-gray-2);
}

.pageNumber:disabled {
  cursor: not-allowed;
  opacity: 0.5;
}

/* 当前页 */
.current {
  font-size: 0.8rem;
  padding: 0.4rem 0.7rem;
  font-weight: 400;
  line-height: 1.5;
  color: var(--color-gray-7);
  /* border-color: var(--color-gray-3); */
  border-radius: 20px;
  background-color: var(--color-gray-7);
  cursor: default;
}

/* 省略号 */
.dots {
  cursor: default;
  background: none;
  border: none;
}

/* 上一页按钮 */
.prev {
  font-weight: 400;
  color: var(--color-gray-3);
}

/* 下一页按钮 */
.next {
  font-weight: 400;
  color: var(--color-gray-3);
}

/* 页码输入框 */
.pageNavForm {
  display: flex;

  align-items: center;
  gap: 0.3rem;
}

.pageInput {
  width: 3rem;
  padding: 0.3rem 0.5rem;
  border: 1px solid var(--color-gray-3);
  border-radius: 4px;
  text-align: center;
}
